body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#F5F7FB;
}

.start-page{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:20px;
  margin-top: 100px;
}

.start-title{
  margin:0;
  color:#293264;
  font-size:40px;
}

.start-description{
  color:#293264;
  font-size:20px;
  font-weight: 500;
}

.start-button{
  border:none;
  background-color:#4D5B9E;
  color:white;
  font-size:20px;
  height: 52px;
  width: 193px;
  left: 179px;
  top: 314px;
  border-radius: 15px;
  margin: 15px;

}

.start-button:hover{
  cursor: pointer;
}

.quiz {
  text-align: center;
}
.single-question {
  border-bottom: 1px solid #4D5B9E;
  padding:10px;
  margin:40px;
  max-width: 100%;
}

.question-title{
  color:#293264;
}

.answers {
  display: flex;
  justify-content: center;
}

.answers > p{
  border: 1px solid #4D5B9E;
  padding: 20px;
  margin-right: 20px;
  border-radius:15px;
}

.answers > p:hover {
  cursor:pointer;
}

.answers-btn {
  border:none;
  height:60px;
  width: 300px;
  background-color: #4D5B9E;
  color:white;
  border-radius:10px;
  font-size:30px;
  margin-top:20px;

}

.answers-btn:hover {
  cursor:pointer;
}

.green {
  background-color:green !important;
  color:white !important;
}

.red{
  background-color: red !important;
}

.end-game{
  margin-top:100px;
}

.score {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin:0;
}

@media screen and (max-width: 500px){
  .answers{
    display:flex;
    flex-direction: column;
  }
}